 
ul.side-panel
    each i in menu 
        li.side-panel__item
            a(href= i.href)= i.name
            if (i.submenu)
                ul.side-panel__submenu
                    each j in i.submenu 
                        li.side-panel__item 
                            a(href= i.href)= j