include ../common/tabs/tabs.pug
include ../common/breads/breads.pug
.container
    +breads([{name:"Стулья",href:"#"}])
    - 
        const CATEGORY = 'стулья'
        const type =model.filter(c=>c.type.toLowerCase()==='стулья')[0]
        const categories = type.categories
        const roles = categories.map(({role,icon})=>({role, icon}))
    pre= JSON.stringify(roles)
    +tabs(roles)
    ul.list
        each i in categories
            each item in i.list 
                .list__item
                    if(item.img)
                        img(src=i.path+item.img)
                    else 
                        img(src=type.icon)
                    a(href="#"+item.id)= item.name

