header.header
    img.top-back(src="../../../../assets/svg/top-back.svg")
    img.middle-rect(src="../../../../assets/svg/middle-rect.svg")
    img.bottom-rect(src="../../../../assets/svg/bottom-rect.svg")
    .logo
        a(href="/")
            img(src="../../../../assets/svg/logo.svg")
        button.threedots#trigger
            img(src="../../../../assets/svg/threedots.svg")
    ul.top-menu
        each i in menu 
            li.top-menu__item
                a(href= i.href)= i.name
                if (i.submenu)
                    ul.top-menu__submenu
                        each j in i.submenu 
                            li.top-menu__item 
                                a(href= i.href)= j
    a.phone(href="tel:/"+common.phone)
        button.threedots
            img(src="../../../../assets/svg/telephone.svg")
        span= common.phone