@import "./_import"
*,*::after,*::before
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: Inter, sans-serif

.arrow
    &_180
        transform: rotate(180deg)

.next
    color: #2E72B9
    cursor: pointer
    padding: 1em
    display: flex
    align-items: center
    column-gap: 5px
    display: flex
    text-decoration: none

    &_left
        img
            order: 0
        span
            order: 1

.logo
    height: 115px
    margin-right: min(52px, 1.5vw)
.threedots
    width: 43px
    height: 43px
    background: linear-gradient(to right, #0F4378, #81AEDC)
    border-radius: 50%
    box-shadow: 0 0 13px #0F4378
    border: none
    margin-top: 36px
    margin-right: min(38px, 1vw)
    display: grid
    place-items: center

.phone
    margin-top: 46px
    text-decoration: none
    color: #5E5E5E
