@import "./_import"
*,*::after,*::before
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: Inter, sans-serif

.arrow
    &_180
        transform: rotate(180deg)

.next
    color: #2E72B9
    cursor: pointer
    padding: 1em
    display: flex
    align-items: center
    column-gap: 5px
    display: flex
    text-decoration: none
    filter: grayscale(1)
    &_left
        img
            order: 0
        span
            order: 1
