@import "./_import"
@import "@var"
*,*::after,*::before
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: Inter, sans-serif

html
    scroll-behavior: smooth

a
    color: #000
    text-decoration: none

label
    display: flex
    flex-direction: column
    font-size: 16px
    width: 100%
input, textarea
    border: 1px dashed #2E72B9
    padding: 10px 16px
    border-radius: 4px
    background: transparent
    margin-top: 5px
    color: #5E5E5E
    font-size: 16px

input[errored]
    border-color: red

button
    cursor: pointer

.container
    +wid(1203px)

.arrow
    &_180
        transform: rotate(180deg)

.next
    color: #2E72B9
    cursor: pointer
    padding-inline: .5em
    display: flex
    align-items: center
    column-gap: 5px
    display: flex
    text-decoration: none
    font-size: 14px
    transition: column-gap .3s ease-in-out

    &_left
        img
            order: 0
        span
            order: 1

.logo
    height: 115px
    margin-right: min(52px, 1.5vw)
    display: flex
    column-gap: 3em
    @media screen and ( max-width: 400px )
        column-gap: 1em

.threedots
    width: 43px
    height: 43px
    background: linear-gradient(to right, #0F4378, #81AEDC)
    border-radius: 50%
    box-shadow: 0 0 13px #0F4378
    border: none
    margin-top: 36px
    margin-right: min(38px, 1vw)
    display: grid
    place-items: center
    @media screen and ( max-width: 1024px )
        justify-self: end

.phone
    margin-top: 36px
    margin-left: 3em
    text-decoration: none
    color: #5E5E5E
    display: flex
    column-gap: 1em
    align-items: center
    align-self: flex-start
    white-space: nowrap
    & > .threedots
        padding: 0
        margin: 0
    @media screen and ( max-width: 1190px )
        flex-direction: column
        row-gap: 1em
        margin-left: 0em
    @media screen and ( max-width: 1024px )
        flex-direction: row
    @media screen and ( max-width: 425px )
        flex-direction: column

.cursor-down
    position: absolute
    bottom: 9rem
    left: 50%
    transform: translateX(-50%)
    @media screen and ( max-width: 1024px )
        bottom: 1rem

.developer
    background: url("../../assets/icons/ruws.png") no-repeat
    background-size: contain
    width: 100px
    height: 35px

h3.title
    font-size: 20px
    font-weight: 500

.tabs
    display: flex
    justify-content: center
    margin-bottom: 50px

.main-title
    text-transform: uppercase
    color: #0A2C50
    margin-bottom: 30px

#map
    width: 100%
    border-radius: 10px
    overflow: hidden

.warnning
    position: absolute
    background: #F4F5F7
    display: grid
    place-items: center
    text-align: center
    border: 1px dashed #2E72B9
    padding: 2em
    margin: 1em
    z-index: 3

.seats
    transform: rotate(0deg)
    z-index: 10
    &__images
        position: relative
        height: 220px
    &__image
        position: absolute
        list-style: none
