.tiser
    .tiser-content__container 
        include ../tiser-content/tiser-content.pug
    .flyingChair__container 
        include ../../common/flyingChair/flyingChair.pug
    a.cursor-down(href="#")
        img(src="../../../../assets/svg/cursor-down.svg")