.contacts-data 
    .contacts-data__container
        .contacts-data__left-side
            label(for="") Телефон отдела продаж
                input(type="text", value="+7 963 109 17 91")
            label(for="") WhatsApp
                input(type="tel", value="+7 963 109 17 91")
            label(for="") Почта
                input(type="email", value="san.mf@yandex.ru")
        .contacts-data__right-side
            h3.contacts-data__caption Мы работаем
            p.contacts-data__text С пн по сбб с 8:00 до 19:00
            p.contacts-data__text Перерыв с 13:00 до 14:00
            p.contacts-data__text_red Воскресенье выходной день
            h3.contacts-data__caption Наш адрес
            p.contacts-data__text г.Пенза, 2-ой проезд Молокова, 9