.style
    display: grid
    grid-template-columns: repeat(2,1fr)
    column-gap: 82px
    margin-top: 70px

    &__galary
        overflow: hidden
        border-radius: 15px
        display: flex
        flex-direction: column

    &__title
        font-size: 30px

    & fieldset
        padding: 1rem
        border: none
        margin-bottom: 40px
    & legend
        font-size: 20px
        color: #5e5e5e

    &__text
        margin: 50px 0 48px
