include ../common/float-blocks/float-blocks.pug
+floatBlocks()
section.tiser__container 
    include ./tiser/tiser.pug
section.chairtypes__container 
    include ./chairtypes/chairtypes.pug
section.middle__container 
    include ./middle/middle.pug
section.mozaic__container 
    include ./mozaic/mozaic.pug
section.blog__container 
    include ./blog/blog.pug