.middle.panel(style="background:#F4F5F7")
    .middle__left
        .panel__title 
            strong мебель
            span для кухни
        p.middle__text 
            |Мебель для кухни превосходного качества по выгодным ценам. Гарантия на весь товар, в наличии
            |сертификаты соответствия — только оригинальная продукция. В продаже мебель для кухни
            |различных размеров и цветов. Удобный подбор в каталоге, большой ассортимент
        a.button(href="#") подробнее
    .middle__right 
        img.middle__img(src="../../../../assets/images/modern-plastic-kids-chair-mockup-left-view.png")
