.chairtypes
    display: flex
    justify-content: center
    width: min(1196px,95vw)
    margin-inline: auto
    height: 170px

    &__container
        margin-bottom: 100px

    & section.splide
        width: 80%
        & .splide__track
            height: 100%

    & ul.splide__list
        align-items: center
