include ../../common/mixins/splide.pug
.chairtypes
    .chairtypes__button.next.next_left
        span.title Влево
        img.arrow(src="../../../../assets/icons/Arrow 1.png")
    +splide('chairtypes',["wardrobe","chair","table","stool","corner","bed","carcass","hanger"], 1700)
        include ../../common/catalogItem/catalogItem.pug
    .chairtypes__button.next.next_right 
        span.title Вправо
        img.arrow_180(src="../../../../assets/icons/Arrow 1.png")