include ../../common/mixins/splide.pug
.blog 
    .blog__left
        +splide("blog-slider",blog)
            img(src=val.img)
    .blog__right
        div.blog__blog Блог
        .blog__list
            each i,idx in blog
                .blog__content(data-id=idx) 
                    .panel__title 
                        each word in i.title.split(" ")
                            span= word
                    p.middle__text= i.text
                    a.button(href="#") подробнее
        .blog__controls
            .blog__button.next.next_left
                span.title влево
                img.arrow(src="../../../../assets/icons/Arrow 1.png")
            .blog__button.next.next_right
                span.title вправо
                img.arrow_180(src="../../../../assets/icons/Arrow 1.png")