.constructor 
    .constructor__container
        .constructor__constructor.builder
            include ../builder/builder.pug
        .constructor__caption
            h2.constructor__title online Конструктор
            p.constructor__text Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации.
            .constructor__rail.constructor__rail_up Сидение
            .constructor__rail.constructor__rail_down Ножки