.booking-order
    padding: 25px 40px 34px
    background: #F4F5F7
    border-radius: 10px
    display: flex
    flex-direction: column
    row-gap: 25px
    align-items: center
    justify-content: center
    // height: 800px

    &__title
        font-size: 25px
        font-weight: normal
        & > *
            color: #0A2C50

    &__split
        width: 100%
        display: flex
        flex-wrap: wrap
        column-gap: 38px
        justify-content: space-between
        position: relative
        z-index: 2
        // margin-bottom: 56px
        & > label
            flex: 1 1 45%
            height: 80px
            z-index: 3
            &:first-child
                z-index: 4

    & > input[type="submit"]
        border: none

    & label
        position: relative
