.booking-order
    padding: 25px 40px 34px
    background: #F4F5F7
    border-radius: 10px
    display: flex
    flex-direction: column
    row-gap: 25px
    align-items: center

    &__title
        font-size: 25px
        font-weight: normal

    & > label
        display: flex
        flex-direction: column
        font-size: 16px
        width: 100%
    & input, textarea
        border: 1px dashed #2E72B9
        padding: 10px 16px
        border-radius: 4px
        background: transparent
        margin-top: 5px
        color: #5E5E5E
        font-size: 16px

    &__split
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        column-gap: 38px
        & > *
            flex: 1 1 45%
