include ../../common/button/button.pug
.tiser-content 
    .tiser-content__title= tiserContent.title 
    h1.tiser-content__h1= tiserContent.h1
    p.tiser-content__text= tiserContent.text
    +button("посмотреть каталог") 