mixin selector(array, type, height="200px")
  input(type="text", name=type, hidden)
  .selector(style="--height:"+height)
    img.selector__arrow(src="../../../../assets/icons/Arrow-down.svg",alt="arrow")
    .selector__item
      .selector__circ(style="background:"+array[0].color)
      .selector__name= array[0].name
    .selector__list
      each i, idx in array
        if(idx !== 0)
          .selector__item
            - val = i
            block